.skills-item {
  display: flex;
  align-items: center;
  width: 50%;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .skills-item {
    width: 30%;
  }
}

.skills-image {
  width: 30px;
  margin-right: 20px;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .skills-image {
    width: 60px;
  }
}

.skills-text {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  .skills-text {
    font-size: 18px;
  }
}